<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-bluetooth-serial"
    version="0.4.7">

    <name>Bluetooth Serial</name>
    <description>Bluetooth Serial Communication Plugin</description>
    <license>Apache 2.0</license>
    <keywords>bluetooth, BLE, arduino</keywords>
    <repo>https://github.com/akshaypuri1989/BluetoothSerial.git</repo>
    <issue>https://github.com/akshaypuri1989/BluetoothSerial/issues</issue>

    <js-module src="www/bluetoothSerial.js" name="bluetoothSerial">
        <clobbers target="window.bluetoothSerial" />
    </js-module>


    <platform name="android">

        <preference name="android-minSdkVersion" value="28" />

        <framework src="org.jetbrains:annotations:19.0.0" />
        <framework src="com.jakewharton.timber:timber:5.0.1" />
        <framework src="androidx.appcompat:appcompat:1.3.1" />

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="BluetoothSerial">
                <param name="android-package" value="com.megster.cordova.BluetoothSerial"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/megster/cordova/BluetoothSerial.java"
            target-dir="src/com/megster/cordova"/>
        <source-file src="src/android/com/megster/cordova/BluetoothSerialService.java"
            target-dir="src/com/megster/cordova"/>

        <source-file src="src/android/com/blessedandroid/BloodPressureMeasurement.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/BluetoothHandler.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/GlucoseMeasurement.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/GlucoseMeasurementUnit.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/HeartRateMeasurement.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/PulseOximeterContinuousMeasurement.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/PulseOximeterSpotMeasurement.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/TemperatureMeasurement.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/TemperatureType.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/TemperatureUnit.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/WeightMeasurement.java"
            target-dir="src/com/blessedandroid"/>
        <source-file src="src/android/com/blessedandroid/WeightUnit.java"
            target-dir="src/com/blessedandroid"/>


        <source-file src="src/android/com/welie/blessed/AdvertiseError.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/BluetoothBytesParser.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/BluetoothCentral.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/BluetoothCentralManager.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/BluetoothCentralManagerCallback.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/BluetoothPeripheral.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/BluetoothPeripheralCallback.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/BluetoothPeripheralManager.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/BluetoothPeripheralManagerCallback.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/BondState.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/ConnectionPriority.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/ConnectionState.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/GattStatus.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/HciStatus.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/Logger.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/PeripheralType.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/PhyOptions.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/PhyType.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/ScanFailure.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/ScanMode.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/Transport.java"
            target-dir="src/com/welie/blessed"/>
        <source-file src="src/android/com/welie/blessed/WriteType.java"
            target-dir="src/com/welie/blessed"/>


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>

    </platform>


















    <platform name="ios">

        <config-file target="config.xml" parent="/widget">
            <feature name="BluetoothSerial">
                <param name="ios-package" value="MEGBluetoothSerial" onload="true"/>
            </feature>
        </config-file>

        <header-file src="src/ios/MEGBluetoothSerial.h" target-dir="BluetoothSerial" />
        <source-file src="src/ios/MEGBluetoothSerial.m" target-dir="BluetoothSerial" />
        <header-file src="src/ios/CBPeripheral+BTSExtensions.h" target-dir="BluetoothSerial" />
        <source-file src="src/ios/CBPeripheral+BTSExtensions.m" target-dir="BluetoothSerial" />

        <!-- BLEMini see http://redbearlab.com -->
        <header-file src="src/ios/BLE.h" target-dir="BluetoothSerial" />
        <header-file src="src/ios/BLEDefines.h" target-dir="BluetoothSerial" />
        <source-file src="src/ios/BLE.m" target-dir="BluetoothSerial" />

        <!-- frameworks -->
        <framework src="CoreBluetooth.framework" />

    </platform>

    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
             <feature name="BluetoothSerial">
                 <param name="wp-package" value="BluetoothSerial"/>
             </feature>
         </config-file>


         <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
             <Capability Name="ID_CAP_PROXIMITY" />
         </config-file>

         <source-file src="src/wp/BluetoothSerial.cs" />
         <source-file src="src/wp/BluetoothConnectionManager.cs" />

    </platform>

    <platform name="browser">
        <js-module src="src/browser/bluetoothSerial.js" name="BluetoothSerial_browser">
            <clobbers target="window.bluetoothSerial" />
        </js-module>

    </platform>
</plugin>
